@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Web.Common
@model IPagedList<CompanyForm>
@{
	ViewData["Title"] = "Firmanın Form Konuları";
	ViewData["Subtitle"] = "Firmanın Açtığı Form Konuları";
	Layout = "~/Views/Shared/_companyUserLayout.cshtml";
}

<section id="inner-banner">
	<div class="container">
		<div class="row">
			<div class="inner-heading">
				<h2>@ViewData["Title"]</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">@ViewData["Subtitle"]</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<section id="blog-with-sidebar">
	<div class="container">
		<h3 class="d-none">heading</h3>
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 posts">
					@foreach (var item in Model)
					{
						<div class="item blog_card card_mr_bt d-flex">
							<div class="post-img">
								<img src="~/img/company/formImage/@item.ImageUrl" style="max-width:371px;max-height:237px;" asp-append-version="true" />
							</div>
							<div class="post-detail">
								<h5>
									<a asp-controller="CompanyForm" asp-action="Detail" asp-route-id="@item.Id">
										@item.Title
									</a>
								</h5>
								<div class="post-status">
									<ul>
										<li><i class="flat flaticon-folder"></i> <span>@item.FormCategory.Name</span></li>
										<li><i class="flat flaticon-chat"></i> <span>@item.CompanyFormAnswers.Count()</span></li>
										<li><span>@item.Hits.Count() görüntülenme</span></li>
										<li><span>@item.Likes.Count() beğeni</span></li>
										<li><span>Yayın: @item.CreatedDate.ToShortDateString()</span></li>
									</ul>
								</div>
								<div class="description">
									<p>
										Kategorisi: @item.FormCategory.Name,
										@if (item.CompanyId != null)
										{
											<span>Firma: @item.Company.Name</span>
										}
									</p>
									@if (item.Subtitle != null)
									{
										<p>@item.Subtitle</p>
									}
									<p>										
										<a asp-controller="CompanyForm" asp-action="Category" asp-route-id="@item.FormCategoryId" style="color:black" class="btn btn-info btn-sm">Bu Kategoridekiler</a>
									</p>
									<a asp-controller="CompanyForm" asp-action="Detail" asp-route-id="@item.Id" style="color:black" class="btn btn-info btn-sm">Detayı Oku</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					}
				</div>
				<aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sidebar right">
					<div class="widget">
						<div class="sidebar_heading">
							<h5>Konu Arayın</h5>
							<div class="separator left-align ">
								<ul>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
						<div class="widget-content">
							<partial name="_CompanyFormSearch" />
						</div>
					</div>
					<div class="widget">
						<div class="sidebar_heading">
							<h5>Forum Kategorileri</h5>
							<div class="separator left-align ">
								<ul>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
						<div class="widget-content">
							<div class="tags">
								<ul>
									@await Component.InvokeAsync("ExplorerCompanyFormSidebarCategories")
								</ul>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget">
						<div class="sidebar_heading">
							<h5>Bu Konuları Okudunuz Mu?</h5>
							<div class="separator left-align ">
								<ul>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
						<div class="widget-content">
							@await Component.InvokeAsync("ExplorerFormRandom")
						</div>
					</div>
					<div class="widget">
						<div class="sidebar_heading">
							<h5>İş Ortaklarımızdan</h5>
							<div class="separator left-align ">
								<ul>
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
						<div class="widget-content">
							@await Component.InvokeAsync("RandomAd")
						</div>
					</div>
				</aside>

			</div>
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item">
						@Html.PagedListPager(Model, page => Url.Action("Company", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
					</li>
				</ul>
			</nav>
		</div>
	</div>
</section>