@model IEnumerable<AppointmentAnswer>
@{
	ViewData["Title"] = "Randevu Cevaplarınız";
	ViewData["Subtitle"] = "Diğer Firmalardan Gelen Randevu Taleplerine Verdiğiniz Cevaplar";
	Layout = "~/Views/Shared/_companyUserLayout.cshtml";
}

<section id="inner-banner">
	<div class="container">
		<div class="row">
			<div class="inner-heading">
				<h2>@ViewData["Title"]</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">@ViewData["Subtitle"]</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<section id="blog-post-list">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="row blog-isotope">
				@foreach (var item in Model)
				{
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card_mr_bt blog-iso-item">
						<div class="item blog_card">
							<div class="post-detail">
								<div class="post-status">
									<ul>
										<li><i class="flat flaticon-calender"></i> <span>Randevu Tarihi: @item.ReAppointmentDate.ToShortDateString()</span></li>
									</ul>
								</div>
								<div class="description">
									<p>Randevu Cevabı Başlığı: @item.Title</p>
									<p>Randevu Açıklaması: @item.Desc</p>
									@if (item.ReAppointmentApproved == true)
									{
										if (item.ReApprovedDate != null)
										{
											<p>
												Randevu düzenleme talebiniz onaylandı ve randevunuz <span class="badge badge-info">@item.ReApprovedDate.Value.ToShortDateString()</span> tarihi için belirlendi.
											</p>
											<a asp-controller="CompanyOperation" asp-action="SetNotApprovedAppointmentAnswer" asp-route-id="@item.Id" class="btn btn-primary btn-sm">İptal Et</a>
										}
										else
										{
											<p>
												Randevu düzenleme talebiniz onaylandı fakat randevu tarihi belirlenmedi.
											</p>
										}
									}
									else
									{
										<p>
											Randevu düzenleme talebiniz hala onaylanmadı.
										</p>
										<a asp-controller="CompanyOperation" asp-action="SetApprovedAppointmentAnswer" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Onayla</a>
									}
								</div>
								<div class="post-status">
									<ul>										
										<li>
											<a href="#" onclick="confirmSetDeleted('CompanyOperation', 'DeleteAppointmentAnswer', @item.Id); return false;" class="btn btn-danger btn-sm">Randevuyu Sil</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</section>