@model IEnumerable<CancelMembership>
@{
	ViewData["Title"] = "Üyelik İptal Talepleriniz";
	Layout = "~/Views/Shared/_companyUserLayout.cshtml";
}

<section id="inner-banner" class="index-3">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="inner-heading">
				<h2>@ViewData["Title"]</h2>
				<div class="separator left-align">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="our_team" class="index-3">
	<div class="container">
		<div class="section_heading">
			<h2><span>@ViewData["Title"]</span></h2>
			<div class="separator">
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>		
		</div>
		<div class="col-lg-12 col-md-12 col-xs-12 content_sec">
			<div class="row">
				@foreach (var item in Model)
				{
					<div class="item col-lg-12 col-md-12 col-md-12 col-xs-12">
						<div class="team-card">
							<div class="name_designation">
								<h5><a>@item.Title</a></h5>
								<span>Beklenen İptal Tarihi: @item.ExpectedCancelDate.ToShortDateString()</span>
							</div>
							<div class="description">
								@if (item.AnotherReason != null)
								{
									<p>@item.AnotherReason</p>
								}
								<p>
									@item.CancelMembershipReason.Name
								</p>
							</div>
							<div class="description">
								@if (item.IsCancelled == true)
								{
									<p>Durumu: İptal Edildi</p>
								}
								else
								{
									<p>Durumu: İptal Edilecek</p>
								}
							</div>
							<div class="social_links">
								<ul>
									<li>
										<a asp-controller="CompanyOperation" asp-action="SetRequestCancel" asp-route-id="@item.Id" class="btn btn-primary btn-sm" style="color:black">İsteği İptal Et</a>
									</li>
									<li>
										<a href="#" onclick="confirmSetDeleted('CompanyOperation', 'DeleteCancelRequest', @item.Id); return false;" class="btn btn-success btn-sm" style="color:black">İsteği Sil</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</section>