@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Web.Common
@model IPagedList<Like>
@{
	ViewData["Title"] = "Beğendikleriniz";
	ViewData["Subtitle"] = "Beğendiğiniz Firma İçeriklerin Listesi";
	Layout = "~/Views/Shared/_companyUserLayout.cshtml";
}

<section id="inner-banner">
	<div class="container">
		<div class="row">
			<div class="inner-heading">
				<h2>@ViewData["Title"]</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">@ViewData["Subtitle"]</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<section id="blog-post-list">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="row blog-isotope">
				@foreach (var item in Model)
				{
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card_mr_bt blog-iso-item">						
						@if (item.BlogId != null || item.CompanyId != null || item.ProductId != null)
						{
							if (item.BlogId != null)
							{
								<div class="item blog_card">
									<div class="post-img">
										<img src="~/img/company/blog/@item.Blog.ImageUrl" style="max-height:224px;max-width:350px;" asp-append-version="true" />
									</div>
									<div class="post-detail">
										@if (item.Value != null)
										{
											<h5>
												Toplamda @item.Value.Value.ToString() beğeni
											</h5>
										}
										<div class="post-status">
											<ul>
												<li><i class="flat flaticon-calender"></i> <span>Blog Eklenme Tarihi: @item.Blog.CreatedDate.ToShortDateString()</span></li>
												<li><i class="flat flaticon-calender"></i> <span>Beğeni Tarihi: @item.CreatedDate.ToShortDateString()</span></li>
											</ul>
										</div>
										<div class="description">
											<p>@item.Blog.Title</p>
											<a href="#" onclick="confirmSetDeleted('CompanyOperation', 'DeleteLike', @item.Id); return false;" class="btn btn-danger btn-sm">Sil</a>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							}
							if (item.CompanyId != null)
							{
								<div class="item blog_card">
									<div class="post-img">
										<img src="~/img/company/logo/@item.Company.Logo" style="max-height:224px;max-width:350px;" asp-append-version="true" />
									</div>
									<div class="post-detail">
										@if (item.Value != null)
										{
											<h5>
												Toplamda @item.Value.Value.ToString() beğeni
											</h5>
										}
										<div class="post-status">
											<ul>
												<li><i class="flat flaticon-calender"></i> <span>Firma Eklenme Tarihi: @item.Company.CreatedDate.ToShortDateString()</span></li>
												<li><i class="flat flaticon-calender"></i> <span>Beğeni Tarihi: @item.CreatedDate.ToShortDateString()</span></li>
											</ul>
										</div>
										<div class="description">
											<p>@item.Company.Name</p>
											<a href="#" onclick="confirmSetDeleted('CompanyOperation', 'DeleteLike', @item.Id); return false;" class="btn btn-danger btn-sm">Sil</a>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							}
							@if (item.ProductId != null)
							{
								<div class="item blog_card">
									<div class="post-img">
										<img src="~/img/company/product/@item.Product.ImageUrl" style="max-height:224px;max-width:350px;" asp-append-version="true" />
									</div>
									<div class="post-detail">
										@if (item.Value != null)
										{
											<h5>
												Toplamda @item.Value.Value.ToString() beğeni
											</h5>
										}
										<div class="post-status">
											<ul>
												<li>
													<i class="flat flaticon-calender"></i>
													<span>Ürün Eklenme Tarihi: @item.Product.CreatedDate.ToShortDateString()</span>
												</li>
												<li>
													<i class="flat flaticon-calender"></i>
													<span>Beğeni Tarihi: @item.CreatedDate.ToShortDateString()</span>
												</li>
											</ul>
										</div>
										<div class="description">
											<p>@item.Product.Name</p>
											<a href="#" onclick="confirmSetDeleted('CompanyOperation', 'DeleteLike', @item.Id); return false;" class="btn btn-danger btn-sm">Sil</a>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							}
							@if (item.CompanyPartnershipId != null)
							{
								<div class="item blog_card">
									<div class="post-detail">
										@if (item.Value != null)
										{
											<h5>
												Toplamda @item.Value.Value.ToString() beğeni
											</h5>
										}
										<div class="post-status">
											<ul>
												<li>
													<i class="flat flaticon-calender"></i>
													<span>Talep / Teklif Eklenme Tarihi: @item.CompanyPartnership.CreatedDate.ToShortDateString()</span>
												</li>
												<li>
													<i class="flat flaticon-calender"></i>
													<span>Beğeni Tarihi: @item.CreatedDate.ToShortDateString()</span>
												</li>
											</ul>
										</div>
										<div class="description">
											<p>@item.CompanyPartnership.Title</p>
											<a href="#" onclick="confirmSetDeleted('CompanyOperation', 'DeleteLike', @item.Id); return false;" class="btn btn-danger btn-sm">Sil</a>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							}
						}
						else
						{
							<div class="item blog_card">
								<div class="post-img">
									<img src="~/img/statics/noImage.jpg" style="max-height:224px;max-width:350px;" asp-append-version="true" />
								</div>
								<div class="post-detail">
									<h5><a>Henüz Gösterilecek İçerik Yok.</a></h5>
								</div>
								<div class="clearfix"></div>
							</div>
						}
					</div>
				}
			</div>
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item">
					@Html.PagedListPager(Model, page => Url.Action("LikeList", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
				</li>
			</ul>
		</nav>
	</div>
</section>