@model CompanyPartnership
@{
	ViewData["Title"] = "Teklif / Talep Detayı";
	ViewData["Subtitle"] = "Teklif / Talep Detay Bilgileri";
	Layout = "~/Views/Shared/_companyUserLayout.cshtml";
}

<section id="inner-banner">
	<div class="container">
		<div class="row">
			<div class="inner-heading">
				<h2>@ViewData["Title"]</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">@ViewData["Subtitle"]</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<section id="single-post-detail">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blog-detail">
					<div class="post-detail">
						<div class="about-post">
							<h4>@Model.Title</h4>
							<div class="post-status">
								<ul>
									<li><i class="fa fa-eye"></i> <span>@Model.Hits.Count() görüntülenme</span></li>
									<li><i class="fa fa-heart"></i> <span>@Model.Likes.Count() beğeni</span></li>
									<li><i class="fa fa-adjust"></i> <span>@Model.SavedContents.Count() kayıt</span></li>
									<li><i class="flat flaticon-calendar"></i> <span>@Model.CreatedDate.ToShortDateString()</span></li>
								</ul>
							</div>
							<div class="description">
								<div class="special-quote">
									<span>
										Kategorisi: @Model.ProductCategory.Name
									</span>
								</div>
								<p> @Html.Raw(Model.Desc)</p>
								<div class="special-quote">
									@if (Model.IsAvailable == true || Model.ExpiryDate < DateTime.Now)
									{
										<p> Teklif / Talep için Uygun.</p>
									}
									else
									{
										<p> Teklif / Talep için Uygun Değil.</p>
									}
									@if (Model.Price != null)
									{
										<p>
											Fiyat: @Model.Price.Value.ToString("C2");
										</p>
									}
								</div>
								<span>
									Talep / Teklif Başlangıcı: @Model.StartDate.ToLongDateString(), Bitiş: @Model.ExpiryDate.ToLongDateString()
								</span>
								@if (Model.Detail != null)
								{
									<div class="description">
										@Model.Detail
									</div>
								}
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<hr />
					<div id="faq">
						<div class="container">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div id="accordion">
									<div class="card">
										<div class="card-header" id="headingOne">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
													<span class="s_no">Şikayet Raporları</span>
												</button>
											</h5>
										</div>
										<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
											<div class="card-body">
												<div class="comments">
													<h5>Toplamda bu ürün için <span> @Model.Reports.Count() şikayet bildirimi </span> yapılmıştır.</h5>
													<div class="separator left-align"></div>
													<div class="clearfix"></div>
													<ol class="comments-list">
														@await Component.InvokeAsync("CompanyUserPartnershipReport", new { id = Model.Id })
													</ol>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>