@model IEnumerable<Picture>
@{
	ViewData["Title"] = "Ürün Resimleri Listesi";
	ViewData["Subtitle"] = "Eklenilen Tüm Ürün Resimleri ve Onların Yönetimi";
	Layout = "~/Views/Shared/_companyUserLayout.cshtml";
}

<section id="inner-banner">
	<div class="container">
		<div class="row">
			<div class="inner-heading">
				<h2>@ViewData["title"]</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">@ViewData["Subtitle"]</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<section id="portfolio">
	<div class="container">
		<h3 class="d-none">heading</h3>
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="row portfolio-gallary">
				@foreach (var item in Model)
				{
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 port-item design development">
						<a asp-controller="CompanyOperation" asp-action="ProductImageUpdate" asp-route-id="@item.Id" class="btn btn-success btn-sm">Resmi Güncelle</a>
						<a href="#" onclick="confirmSetDeleted('CompanyOperation', 'DeleteProductImage', @item.Id); return false;" class="btn btn-danger btn-sm">Resmi Sil</a>
						<div class="project portfolio-inner">
							<img src="~/img/company/product/multiImage/@item.ImageUrl" style="max-height:264px;max-width:350px;" asp-append-version="true">
							<div class="label">
								@if (item.ProductId != null)
								{
									<div class="label-text">@item.Product.Name</div>
								}
								<div class="label-bg"></div>
							</div>
							<div class="zoom"> 
								@if (item.ProductId != null)
								{
									<a href="/img/company/product/multiImage/@item.ImageUrl" style="max-height:556px;max-width:582px;" class="popup-box" data-lightbox="image" data-title="@item.Product.Name"> <i class="flat flaticon-magnifying-glass"></i> </a>
								}
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</section>