@using System.Web
@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Web.Common
@model IPagedList<Blog>
@{
	ViewData["Title"] = "Blog Makalesi Listesi";
	ViewData["Subtitle"] = "Eklenilen Tüm Blog Makalelleri ve Onların Yönetimi";
	Layout = "~/Views/Shared/_companyUserLayout.cshtml";
}

<section id="inner-banner">
	<div class="container">
		<div class="row">
			<div class="inner-heading">
				<h2>@ViewData["Title"]</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">@ViewData["Subtitle"]</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<section id="blog-post-list">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="row blog-isotope">
				@foreach (var item in Model)
				{
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card_mr_bt blog-iso-item">
						<div class="item blog_card">
							<div class="post-img">
								<img src="~/img/company/blog/@item.ImageUrl" style="max-height:224px;max-width:350px;" asp-append-version="true" />
							</div>
							<div class="post-detail">
								<h5>
									@if (item.Title.Length > 25)
									{
										<a asp-controller="HomeCompany" asp-action="BlogDetail" asp-route-id="@item.Id">
											@HttpUtility.HtmlDecode(ReadMore.SafeSubstring(item.Title, 25) + " ...")
										</a>
									}
									else
									{
										<a asp-controller="HomeCompany" asp-action="BlogDetail" asp-route-id="@item.Id">@item.Title</a>
									}
								</h5>
								<div class="post-status">
									<ul>
										<li>
											<i class="flat flaticon-folder"></i> <span>
												Kategorisi: @item.BlogCategory.Name
											</span>
										</li>
										<li><i class="flat flaticon-chat"></i> <span>@item.Comments.Count()</span></li>
										<li><i class="flat flaticon-eye"></i> <span>@item.Hits.Count() görüntülenme</span></li>
										<li><i class="flat flaticon-heart"></i> <span>@item.Likes.Count() beğenilme</span> </li>
										<li><i class="flat flaticon-adjust"></i> <span>@item.SaveContents.Count() kaydetme</span></li>
										<li><i class="flat flaticon-calendar"></i> <span>@item.CreatedDate.ToShortDateString()</span></li>
									</ul>
								</div>
								<div class="description">
									@if (item.Subtitle != null)
									{
										<p>
											@item.Subtitle
										</p>
									}
									@if (item.Desc.Length > 150)
									{
										@Html.Raw(HttpUtility.HtmlDecode(ReadMore.SafeSubstring(item.Desc, 150) + " ..."))
									}
									else
									{
										@Html.Raw(item.Desc)
									}
									<hr />
									<a asp-controller="HomeCompany" asp-action="BlogDetail" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detayı Oku</a>
									<a asp-controller="CompanyOperation" asp-action="BlogUpdate" asp-route-id="@item.Id" class="btn btn-success btn-sm">Güncelle</a>
									<a asp-controller="CompanyOperation" asp-action="BlogImageCreate" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Resim Ekle</a>
									<a asp-controller="HomeCompany" asp-action="BlogImageList" asp-route-id="@item.Id" class="btn btn-info btn-sm">Blog Resim Listesi</a>
									<a asp-controller="HomeCompany" asp-action="YourBlogReportList" asp-route-id="@item.UserId" style="color:white" class="btn btn-dark btn-sm">Gelen Şikayetler</a>
									<a asp-controller="HomeCompany" asp-action="YourBlogCommentList" asp-route-id="@item.UserId" style="color:white" class="btn btn-dark btn-sm">Gelen Yorumlar</a>
									<a href="#" onclick="confirmSetDeleted('CompanyOperation', 'DeleteBlog', @item.Id); return false;" class="btn btn-danger btn-sm">Sil</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				}
			</div>
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				@Html.PagedListPager(Model, page => Url.Action("UserBlogList", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
			</ul>
		</nav>
	</div>
</section>