@using System.Web
@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Web.Common
@model IPagedList<Blog>
@{
	ViewData["Title"] = "En Fazla Yorum Yapılan Blog Makalelerinizin Listesi";
	Layout = "~/Views/Shared/_companyUserLayout.cshtml";
}

<section id="inner-banner">
	<div class="container">
		<div class="row">
			<div class="inner-heading">
				<h2>@ViewData["Title"]</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">@ViewData["Subtitle"]</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<section id="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="form-header text-center">
					<h4>@ViewData["Title"]</h4>
					<div class="separator">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
				<div class="contact-form">
					<table class="table table-hover display" id="table_id">
						<thead>
							<tr style="color:black">
								<th>Yorum</th>
								<th>Firma Adı</th>
								<th>Blog Resmi</th>
								<th data-class-name="title">Makale Başlığı</th>
								<th data-class-name="category">Kategori</th>
								<th>Diğer İstatistikler</th>
								<th>Yayın Tarihi</th>
								<th>İncele</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr style="color:black">
									<td>@item.Comments.Count()</td>
									<td>
										@if (item.CompanyId != null)
										{
											<span>
												@item.Company.Name
											</span>
										}
										else
										{
											<span>
												<span class="badge badge-warning">Firma Blgisi Girilmemiş.</span>
											</span>
										}
									</td>
									<td>
										<img src="~/img/company/blog/@item.ImageUrl" style="max-height:90px;max-width:90px;min-height:90px;min-width:90px;" asp-append-version="true" />
									</td>
									<td>
										@if (item.Title.Length > 250)
										{
											@HttpUtility.HtmlDecode(ReadMore.SafeSubstring(item.Title, 250) + " ...")
										}
										else
										{
											@item.Title
										}
									</td>
									<td>
										@item.BlogCategory.Name
									</td>
									<td>
										<ul>
											<li>@item.Hits.Count() görüntülenme</li>
											<li>@item.SaveContents.Count() kaydedilme</li>
											<li>@item.Likes.Count() beğeni</li>
										</ul>
									</td>
									<td>@item.CreatedDate.ToShortDateString()</td>
									<td>
										<a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary btn-sm" target="_blank">İncele</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
			<div class="pagination">
				<div class="pagination-info">
					@Html.PagedListPager(Model, page => Url.Action("YourMostCommentBlogs", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
				</div>
			</div>
		</div>
	</div>
</section>