@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Web.Common
@model IPagedList<Question>
@{
	ViewData["Title"] = "Firmaya Gelen Sorular";
	ViewData["Subtitle"] = "Diğer Firmaların Firmalarınıza Sorduğu Sorular";
	Layout = "~/Views/Shared/_companyUserLayout.cshtml";
}

<section id="inner-banner">
	<div class="container">
		<div class="row">
			<div class="inner-heading">
				<h2>@ViewData["Title"]</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">@ViewData["Subtitle"]</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<section id="single-post-detail">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blog-detail">
					<div class="comments">
						<h5><span> Firmaya Gelen Sorular </span></h5>
						<div class="separator left-align">
							<ul>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<div class="clearfix"></div>
						<ol class="comments-list">
							@foreach (var item in Model)
							{
								<li class="comment-item">
									<div class="comment">
										<div class="visitor_pic">
											@if (item.UserId != null)
											{
												@await Component.InvokeAsync("CompanyUserProfileLogo", new { id = item.UserId })
											}
										</div>
										<div class="visitor_description">
											<div class="name_date">
												@if (item.UserId != null)
												{
													<h6>@item.User.NameSurname</h6>
													@await Component.InvokeAsync("GetCompanyInformation", new { id = item.UserId })
												}
												<div class="date">@item.CreatedDate.ToShortDateString()</div>
											</div>
											<p>@item.Text </p>
										</div>
										<a asp-controller="CompanyOperation" asp-action="QuestionAnswerCreate" asp-route-id="@item.Id" class="btn btn-primary btn-outline btn-sm"><i class="flat flaticon-plane"></i> Cevapla</a>
										<span class="badge badge-info">@item.QuestionAnswers.Count() cevap</span>
										@await Component.InvokeAsync("QuestionHit", new { id = item.Id })
									</div>
									<ol class="comments-list reply">
										@await Component.InvokeAsync("CompanyUserQuestionAnswer", new { id = item.Id })
									</ol>
								</li>
							}
						</ol>
					</div>
				</div>
			</div>
			<div class="pagination">
				<div class="pagination-info">
					@Html.PagedListPager(Model, page => Url.Action("YourCompanyQuestionList", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
				</div>
			</div>
		</div>
	</div>
</section>