@model Picture
@{
	ViewData["Title"] = "Resim Gücenlleme";
	ViewData["Subtitle"] = "Firmanızın Resimini Buradan Güncelleyebilirsiniz.";
	ViewData["Warning"] = "* ile gösterilen alanlar zorunludur.";
	Layout = "~/Views/Shared/_companyUserLayout.cshtml";
}

<section id="contact-us">
	<div class="container">
		<div class="row">

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="form-header text-center">
					<h4>@ViewData["Title"]</h4>
					<div class="separator">
						<ul>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<p>@ViewData["Subtitle"]</p>
					<br />
					<p>@ViewData["Warning"]</p>
				</div>
				<div class="contact-form">
					<form asp-controller="CompanyOperation" asp-action="CompanyImageUpdate" method="post" enctype="multipart/form-data">
						@Html.AntiForgeryToken()
						<div class="row">
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 form-group">
								<strong style="color:blue">Resmi Buradan Seçebilirsiniz *</strong>
								<input class="form-control btn-info" type="file" name="image" accept=".png, .jpg, .jpeg" required>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group text-center">
								<button type="submit">Firma Resimini Güncelle </button>
								<input type="hidden" asp-for="CompanyId" />
								<input type="hidden" asp-for="Id" value="@Model.Id" />
							</div>
						</div>
					</form>
					<br />
					<partial name="_companyCrudAlertPartial" />
				</div>
			</div>
		</div>
	</div>
</section>