@model ReportAnswer
@{
	ViewData["Title"] = "Delete Report Answer";
	ViewData["Subtitle"] = "Report Answer Navigator";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="breadcome-area mg-b-30 small-dn">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcome-list map-mg-t-40-gl shadow-reset">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="breadcome-heading">
									@ViewData["Subtitle"]
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<ul class="breadcome-menu">
									<li>
										<a asp-controller="ReportAnswer" asp-action="kurtulusocL">Report Answer Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Report" asp-action="kurtulusocL">Report Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="ReportAnswer" asp-action="SatisfieldAnswer">Satisfield Report Answers</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="ReportAnswer" asp-action="NotSatisfieldAnswer">Not Satisfield Report Answers</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="ReportAnswer" asp-action="ReportAnswerOps">Report Answer Ops</a> <span class="bread-slash">/</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="widgets-personal-info-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="author-widgets-single widget-ov-mg-t-30 widget-ov-mg-t-n-30 widget-ov-mg-t-l-30 shadow-reset">
						<div class="widget-text-box">
							<div class="social-widget-result social-widget1-result">
								<span>
									Title: @Model.Title
								</span>
							</div>
							<div class="social-widget-result social-widget1-result">
								<span>Created At: @Model.CreatedDate.ToShortDateString()</span>
							</div>
							<div class="social-widget-result social-widget1-result">
								@if (Model.IsSatisfield != null && Model.IsSatisfield == true)
								{
									<strong style="color:darkblue">Satisfieded Report Answer</strong>
								}
								else
								{
									<strong style="color:darkred">Not Satisfieded Report Answer</strong>
								}
							</div>
							<div class="social-widget-result social-widget1-result">
								<h4>Report Information</h4>
								@if (Model.ReportId != null)
								{
									<ul>
										<li>ReportId: @Model.ReportId</li>
										@if (Model.Report.BlogId != null || Model.Report.CommentId != null || Model.Report.CommentAnswerId != null || Model.Report.CompanyId != null || Model.Report.ProductId != null)
										{
											if (Model.Report.BlogId != null)
											{
												<li>Blog Report</li>
												<li>Blog ReportId: @Model.Report.BlogId</li>
											}
											if (Model.Report.CommentId != null)
											{
												<li>Comment Report</li>
												<li>Comment ReportId: @Model.Report.CommentId</li>
											}
											if (Model.Report.CommentAnswerId != null)
											{
												<li>Comment Answer Report</li>
												<li>Comment Answer ReportId: @Model.Report.CommentAnswerId</li>
											}
											if (Model.Report.CompanyId != null)
											{
												<li>Company Report</li>
												<li>Company ReportId: @Model.Report.CompanyId</li>
											}
											if (Model.Report.ProductId != null)
											{
												<li>Product Report</li>
												<li>Product ReportId: @Model.Report.ProductId</li>
											}
										}
										else
										{
											<li>
												<strong style="color:darkred">Not Information</strong>
											</li>
										}
									</ul>
								}
								else
								{
									<strong style="color:darkred">No Report Information</strong>
								}
							</div>
							<div class="social-widget-result social-widget1-result">
								<h4>User Information</h4>
								<p>
									Answer:
									@Html.Raw(Model.Desc)
								</p>
							</div>
							@if (Model.UpdatedDate != null)
							{
								<p>Updated At: @Model.UpdatedDate.Value.ToShortDateString()</p>
							}
							@if (Model.IsActive == true)
							{
								<p>Active</p>
							}
							else
							{
								<p>DeActive</p>
							}
							@if (Model.IsDeleted == true)
							{
								<p>Deleted</p>
							}
							else
							{
								<p>Not Deleted</p>
							}
							<div class="text-right like-love-list">
								<a href="#" onclick="confirmDelete('ReportAnswer', 'DeleteReportAnswer', @Model.Id); return false;" class="btn btn-custon-rounded-three btn-danger btn-sm"> Delete </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>