@model SectorNews
@{
	ViewData["Title"] = "Delete Sector News";
	ViewData["Subtitle"] = "Sector News Navigator";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="breadcome-area mg-b-30 small-dn">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcome-list map-mg-t-40-gl shadow-reset">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="breadcome-heading">
									@ViewData["Subtitle"]
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<ul class="breadcome-menu">
									<li>
										<a asp-controller="SectorNewsManagement" asp-action="kurtulusocL">Sector News Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="SectorNewsManagement" asp-action="MostLiked">Most Likeds</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="SectorNewsManagement" asp-action="MostHit">Most Hits</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="SectorNewsManagement" asp-action="SectorNewsManagementOps">Sector News Ops</a> <span class="bread-slash">/</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="widgets-personal-info-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="author-widgets-single widget-ov-mg-t-30 widget-ov-mg-t-n-30 widget-ov-mg-t-l-30 shadow-reset">
						<div class="persoanl-widget-hd persoanl1-widget-hd">
							<h2>Title: @Model.Title</h2>
							<h2>Subtitle: @Model.Subtitle</h2>
						</div>
						<div class="social-widget-result social-widget1-result">
							@if (Model.RedirectUrl != null)
							{
								<span>Redirect Url:</span>
								<br />
								<span>
									Url: @Model.RedirectUrl
									<br />
									<a href="@Model.RedirectUrl" class="btn btn-dark btn-sm" target="_blank">Go to Url</a>
								</span>
							}
							else
							{
								<strong style="color:maroon">No Redirect Url</strong>
							}
							@if (Model.Source != null)
							{
								<span>Source: @Model.Source</span>
							}
							else
							{
								<strong style="color:maroon">No Source</strong>
							}
							<span>@Model.Hits.Count() hits</span>
							<span>@Model.Likes.Count() likes</span>
							<span>Created At: @Model.CreatedDate.ToShortDateString()</span>
						</div>
						<div class="widget-text-box">
							<h4>Description: @Html.Raw(Model.Desc)</h4>
							<br />
							@if (Model.Detail != null)
							{
								<h4>Detail: @Model.Detail</h4>
							}
							else
							{
								<strong style="color:darkred">No Detail</strong>
							}
							@if (Model.UpdatedDate != null)
							{
								<p>Updated At: @Model.UpdatedDate.Value.ToShortDateString()</p>
							}
							@if (Model.IsActive == true)
							{
								<p>Active</p>
							}
							else
							{
								<p>DeActive</p>
							}
							@if (Model.IsDeleted == true)
							{
								<p>Deleted</p>
							}
							else
							{
								<p>Not Deleted</p>
							}
							<div class="text-right like-love-list">
								<a href="#" onclick="confirmDelete('SectorNewsManagement', 'DeleteSectorNews', @Model.Id); return false;" class="btn btn-custon-rounded-three btn-danger btn-sm"> Delete </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>