@using System.Web
@model IEnumerable<Appointment>
@{
	ViewData["Title"] = "All Appointment List By User";
	ViewData["Subtitle"] = "Appointment Navigator";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="breadcome-area mg-b-30 small-dn">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcome-list map-mg-t-40-gl shadow-reset">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="breadcome-heading">
									@ViewData["Subtitle"]
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<ul class="breadcome-menu">
									<li>
										<a asp-controller="Appointment" asp-action="kurtulusocL">Appointment Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Appointment" asp-action="ApprovedAppointment">Approved Appointments</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Appointment" asp-action="NotApprovedAppointment">Not Approved Appointment</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Appointment" asp-action="AppointmentOps">Appointment Ops</a> <span class="bread-slash">/</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="data-table-area mg-b-40">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="sparkline13-list shadow-reset">
						<div class="sparkline13-hd">
							<div class="main-sparkline13-hd">
								<h1>@ViewData["Title"] </h1>
								<div class="sparkline13-outline-icon">
									<span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
								</div>
							</div>
						</div>
						<div class="sparkline13-graph">
							<div class="datatable-dashv1-list custom-datatable-overright">
								<div id="toolbar">
									<select class="form-control">
										<option value="">Export Basic</option>
										<option value="all">Export All</option>
										<option value="selected">Export Selected</option>
									</select>
								</div>
								<table id="table"
									   data-toggle="table"
									   data-pagination="true"
									   data-resizable="true"
									   data-search="true"
									   data-show-columns="true"
									   data-show-pagination-switch="true"
									   data-show-refresh="true"
									   data-key-events="true"
									   data-show-toggle="true"
									   data-cookie="true"
									   data-cookie-id-table="saveId"
									   data-show-export="true"
									   data-click-to-select="true"
									   data-toolbar="#toolbar">
									<thead>
										<tr>
											<th data-field="state" data-checkbox="true"></th>
											<th data-field="id">ID</th>
											<th data-field="subject">Subject</th>
											<th data-field="description">Description</th>
											<th data-field="date">Date</th>
											<th data-field="approvedStatus">Approved Status</th>
											<th data-field="companyInfo">Company Info</th>
											<th data-field="userInfo">User Info</th>
											<th>Ops</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in Model)
										{
											<tr>
												<td></td>
												<td>@item.Id</td>
												<td>
													@if (item.Subject.Length > 40)
													{
														@HttpUtility.HtmlDecode(ReadMore.SafeSubstring(item.Subject, 40) + " ...")
													}
													else
													{
														@item.Subject
													}
												</td>
												<td>
													@if (item.Desc.Length > 40)
													{
														@HttpUtility.HtmlDecode(ReadMore.SafeSubstring(item.Desc, 40) + " ...")
													}
													else
													{
														@item.Desc
													}
												</td>
												<td>@item.AppointmentDate.ToShortDateString()</td>
												<td>
													@if (item.IsApproved == true)
													{
														if (item.ApprovedDate != null)
														{
															<strong style="color:darkblue">Approved Appointment</strong>
															<br />
															<span>Approved At @item.ApprovedDate.Value.ToLongDateString()</span>
														}
													}
													else
													{
														<strong style="color:darkred">Not Approved Appointment</strong>
													}
												</td>
												<td>
													@if (item.CompanyId != null)
													{
														<ul>
															<li>Company Id: @item.CompanyId</li>
															<li>Company: @item.Company.Name</li>
														</ul>
														<a asp-controller="Appointment" asp-action="AppointmentByCompany" asp-route-id="@item.CompanyId" class="btn btn-custon-rounded-two btn-info">
															See All Appointments
														</a>
														<a asp-controller="Appointment" asp-action="AppointmentByCompanyForAdmin" asp-route-id="@item.CompanyId" class="btn btn-custon-rounded-two btn-info">
															See All Appointments for Admin
														</a>
													}
													else
													{
														<strong style="color:darkred">No Company Info</strong>
													}
												</td>
												<td>
													@if (item.UserId != null)
													{
														<ul>
															<li>User Id: @item.UserId </li>
															<li>Email: @item.User.Email</li>
															<li>Name-Surname: @item.User.NameSurname</li>
															<li>User Location: @item.User.City, @item.User.Country</li>
														</ul>
														<a asp-controller="Appointment" asp-action="AppointmentByUser" asp-route-id="@item.UserId" class="btn btn-custon-rounded-two btn-info">
															See All Appointments
														</a>
													}
													else
													{
														<strong style="color:darkred">No User Info</strong>
													}
												</td>
												<td>
													<a asp-controller="Appointment" asp-action="AppointmentDetail" asp-route-id="@item.Id" class="btn btn-custon-rounded-two btn-info btn-sm">Detail</a>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>