@using System.Web
@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Web.Common
@model IPagedList<Blog>
@{
	ViewData["Title"] = "Blog Makaleleri";
	ViewData["Subtitle"] = "Kategorisine Göre Firmanın Yazdığı Tüm Blog Makaleleri";
	Layout = "~/Views/Shared/_companyUserLayout.cshtml";
}

<section id="inner-banner">
	<div class="container">
		<div class="row">
			<div class="inner-heading">
				<h2>@ViewData["Title"]</h2>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">@ViewData["Subtitle"]</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<section id="blog-post-list">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="row blog-isotope">
				@foreach (var item in Model)
				{
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card_mr_bt blog-iso-item">
						<div class="item blog_card">
							<div class="post-img">
								<img src="~/img/company/blog/@item.ImageUrl" style="max-height:224px;max-width:350px;" asp-append-version="true" />
							</div>
							<div class="post-detail">
								<h5>
									<a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
										@if (item.Title.Length > 27)
										{
											@HttpUtility.HtmlDecode(ReadMore.SafeSubstring(item.Title, 27) + " ...")
										}
										else
										{
											@item.Title
										}
									</a>
								</h5>
								<div class="post-status">
									<ul>
										<li><span>@item.Hits.Count() görüntülenme</span></li>
										<li><span>@item.Likes.Count() beğeni </span></li>
										<li><span>@item.SaveContents.Count() kaydedilme </span></li>
										<li>
											<a asp-controller="Blog" asp-action="Category" asp-route-id="@item.BlogCategoryId">
												<span>Kategori: @item.BlogCategory.Name</span>
											</a>
										</li>
										@if (item.CompanyId != null)
										{
											<li>
												<a asp-controller="Blog" asp-action="Company" asp-route-id="@item.CompanyId">
													<span>Firma: @item.Company.Name</span>
												</a>
											</li>
										}
									</ul>
								</div>
								<div class="description">
									@if (item.Desc.Length > 80)
									{
										<p>
											@Html.Raw(HttpUtility.HtmlDecode(ReadMore.SafeSubstring(item.Desc, 80) + " ..."))
										</p>
									}
									else
									{
										<p>@Html.Raw(item.Desc)</p>
									}
									<a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-info btn-sm">Devamını Oku</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				}
			</div>
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item">
					@Html.PagedListPager(Model, page => Url.Action("Category", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
				</li>
			</ul>
		</nav>
	</div>
</section>