@model Blog
@{
	ViewData["Title"] = "Delete Blog";
	ViewData["Subtitle"] = "Blog Navigator";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="breadcome-area mg-b-30 small-dn">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcome-list map-mg-t-40-gl shadow-reset">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="breadcome-heading">
									@ViewData["Subtitle"]
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<ul class="breadcome-menu">
									<li>
										<a asp-controller="BlogManagement" asp-action="kurtulusocL">Blog Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="BlogManagement" asp-action="BlogOps">Blog Ops</a> <span class="bread-slash">/</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="widgets-personal-info-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="author-widgets-single widget-ov-mg-t-30 widget-ov-mg-t-n-30 widget-ov-mg-t-l-30 shadow-reset">
						<div class="persoanl-widget-hd persoanl1-widget-hd">
							<div class="perso-img">
								@if (Model.ImageUrl != null)
								{
									<img src="~/img/company/blog/@Model.ImageUrl" class="img-circle circle-border m-b-md" style="max-height:100px;max-width:100px;min-height:100px;min-width:100px;" asp-append-version="true">
								}
								else
								{
									<img src="~/img/statics/noImage.jpg" class="btn-responsive" style="max-height:100px;max-width:100px;min-height:100px;min-width:100px" asp-append-version="true" />
								}
							</div>
							<h2>
								Title: @Model.Title
							</h2>
							@if (Model.Subtitle != null)
							{
								<h2>
									Subtitle: @Model.Subtitle
								</h2>
							}
							else
							{
								<strong style="color:darkred">No Subtitle</strong>
							}
							<p>
								Category: @Model.BlogCategory.Name
							</p>							
							@if (Model.CompanyId != null)
							{
								<p>Company: @Model.Company.Name, CompanyId: @Model.CompanyId</p>
							}
							else
							{
								<p>No Company Info</p>
							}
							@if (Model.UserId != null)
							{
								<p>
									<ul>
										<li>UserId: @Model.UserId</li>
										<li>User: @Model.User.NameSurname</li>
										<li>Email: @Model.User.Email</li>
										<li>Location: @Model.User.City, @Model.User.Country</li>
									</ul>
								</p>
							}
							else
							{
								<p>No User Info</p>
							}
							<div class="social-widget-result social-widget1-result">
								<ul>
									<li>
										<span>
											Reports: @Model.Reports.Count()
										</span>
									</li>
									<li>
										<span>
											Comments: @Model.Comments.Count()
										</span>
									</li>
									<li>
										<span>
											Saved: @Model.SaveContents.Count()
										</span>
									</li>
									<li>
										<span>
											Hits: @Model.Hits.Count()
										</span>
									</li>
									<li>
										<span>
											Likes: @Model.Likes.Count()
										</span>
									</li>
									<li>
										<span>
											Pictures: @Model.Pictures.Count()
										</span>
									</li>
								</ul>
							</div>
							<div class="social-widget-result social-widget1-result">
								<span>Created At: @Model.CreatedDate.ToShortDateString()</span>
							</div>
							<div class="widget-text-box">
								<h4>Description: @Html.Raw(Model.Desc)</h4>
								@if (Model.UpdatedDate != null)
								{
									<p>Updated At: @Model.UpdatedDate.Value.ToShortDateString()</p>
								}
								@if (Model.IsActive == true)
								{
									<p>Active</p>
								}
								else
								{
									<p>DeActive</p>
								}
								@if (Model.IsDeleted == true)
								{
									<p>Deleted</p>
								}
								else
								{
									<p>Not Deleted</p>
								}
								<div class="text-right like-love-list">
									<a href="#" onclick="confirmDelete('BlogManagement', 'DeleteBlog', @Model.Id); return false;" class="btn btn-custon-rounded-three btn-danger btn-sm"> Delete </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>