@using System.Web
@model IEnumerable<CancelMembership>
@{
	ViewData["Title"] = "Active Cancel Membership List By Reason";
	ViewData["Subtitle"] = "Cancel Membership Navigator";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="breadcome-area mg-b-30 small-dn">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcome-list map-mg-t-40-gl shadow-reset">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="breadcome-heading">
									@ViewData["Subtitle"]
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<ul class="breadcome-menu">
									<li>
										<a asp-controller="CancelMembership" asp-action="kurtulusocL">Cancel Membership Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="CancelMembership" asp-action="Cancelled">Cancelled Membership</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="CancelMembership" asp-action="CancelledForAdmin">Cancelled Membership For Admin</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="CancelMembership" asp-action="NotCancelled">Not Cancelled Membership</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="CancelMembership" asp-action="CancelMembershipOps">Cancel Membership Ops</a> <span class="bread-slash">/</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="data-table-area mg-b-40">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="sparkline13-list shadow-reset">
						<div class="sparkline13-hd">
							<div class="main-sparkline13-hd">
								<h1>@ViewData["Title"] </h1>
								<div class="sparkline13-outline-icon">
									<span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
								</div>
							</div>
						</div>
						<div class="sparkline13-graph">
							<div class="datatable-dashv1-list custom-datatable-overright">
								<div id="toolbar">
									<select class="form-control">
										<option value="">Export Basic</option>
										<option value="all">Export All</option>
										<option value="selected">Export Selected</option>
									</select>
								</div>
								<table id="table"
									   data-toggle="table"
									   data-pagination="true"
									   data-resizable="true"
									   data-search="true"
									   data-show-columns="true"
									   data-show-pagination-switch="true"
									   data-show-refresh="true"
									   data-key-events="true"
									   data-show-toggle="true"
									   data-cookie="true"
									   data-cookie-id-table="saveId"
									   data-show-export="true"
									   data-click-to-select="true"
									   data-toolbar="#toolbar">
									<thead>
										<tr>
											<th data-field="state" data-checkbox="true"></th>
											<th data-field="id">ID</th>
											<th data-field="userInfo">User Info</th>
											<th data-field="title">Title</th>
											<th data-field="reason">Reason</th>
											<th data-field="expectedDate">Expected Date</th>
											<th data-field="cancelStatus">Cancel Status</th>
											<th>Ops</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in Model)
										{
											<tr>
												<td></td>
												<td>@item.Id</td>
												<td>
													@if (item.UserId != null)
													{
														<ul>
															<li>UserId: @item.UserId</li>
															<li>Name-Surname: @item.User.NameSurname</li>
															<li>Email: @item.User.Email</li>
															<li>Location: @item.User.City, @item.User.Country</li>
														</ul>
														<a asp-controller="CancelMembership" asp-action="ByUser" asp-route-id="@item.UserId" class="btn btn-custon-rounded-two btn-info">
															See All Requests
														</a>
														<a asp-controller="CancelMembership" asp-action="ByUserForAdmin" asp-route-id="@item.UserId" class="btn btn-custon-rounded-two btn-info">
															See All Requests for Admin
														</a>
													}
													else
													{
														<strong style="color:darkred">No User Info</strong>
													}
												</td>
												<td>
													@if (item.Title.Length > 40)
													{
														@HttpUtility.HtmlDecode(ReadMore.SafeSubstring(item.Title, 40) + "...")
													}
													else
													{
														@item.Title
													}
												</td>
												<td>
													<span>
														@item.CancelMembershipReason.Name
													</span>
													<br />
													<a asp-controller="CancelMembership" asp-action="ByReasonForAdmin" asp-route-id="@item.CancelMembershipReasonId" class="btn btn-custon-rounded-two btn-info">
														See All Requests for Admin
													</a>
												</td>
												<td>@item.ExpectedCancelDate.ToShortDateString()</td>
												<td>
													@if (item.IsCancelled == true && item.CancelDate != null)
													{
														<span>
															<strong style="color:darkblue">Cancelled at</strong> @item.CancelDate.Value.ToString()
														</span>
													}
													else
													{
														<strong style="color:maroon">Did not cancel</strong>
													}
												</td>
												<td>
													<a asp-controller="CancelMembership" asp-action="CancelMembershipDetail" asp-route-id="@item.Id" class="btn btn-custon-rounded-two btn-info btn-sm">Detail</a>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>