@model IEnumerable<Company>
@{
	ViewData["Title"] = "Active Company List";
	ViewData["Subtitle"] = "Company Navigator";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="breadcome-area mg-b-30 small-dn">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcome-list map-mg-t-40-gl shadow-reset">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="breadcome-heading">
									@ViewData["Subtitle"]
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<ul class="breadcome-menu">
									<li>
										<a asp-controller="CompanyManagement" asp-action="kurtulusocL">Company Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="CompanyManagement" asp-action="CommentableCompanies">Commentable Companies</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="CompanyManagement" asp-action="NotCommentableCompanies">Not Commentable Companies</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="CompanyManagement" asp-action="MessageAcceptedCompanies">Message Accepted Companies</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="CompanyManagement" asp-action="MessageNotAcceptedCompanies">Message Not Accepted Companies</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="CompanyManagement" asp-action="CompanyByFoundationDate">Company Foundation Dates</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="CompanyManagement" asp-action="CategoryOps">Company Ops</a> <span class="bread-slash">/</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="data-table-area mg-b-40">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="sparkline13-list shadow-reset">
						<div class="sparkline13-hd">
							<div class="main-sparkline13-hd">
								<h1>@ViewData["Title"] </h1>
								<div class="sparkline13-outline-icon">
									<span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
								</div>
							</div>
						</div>
						<div class="sparkline13-graph">
							<div class="datatable-dashv1-list custom-datatable-overright">
								<div id="toolbar">
									<select class="form-control">
										<option value="">Export Basic</option>
										<option value="all">Export All</option>
										<option value="selected">Export Selected</option>
									</select>
								</div>
								<table id="table"
								data-toggle="table"
								data-pagination="true"
								data-resizable="true"
								data-search="true"
								data-show-columns="true"
								data-show-pagination-switch="true"
								data-show-refresh="true"
								data-key-events="true"
								data-show-toggle="true"
								data-cookie="true"
								data-cookie-id-table="saveId"
								data-show-export="true"
								data-click-to-select="true"
								data-toolbar="#toolbar">
									<thead>
										<tr>
											<th data-field="state" data-checkbox="true"></th>
											<th data-field="id">ID</th>
											<th data-field="logo">Logo</th>
											<th data-field="userInfo">User Info</th>											
											<th data-field="companyName">Company Name</th>
											<th data-field="foundationDate">Foundation Date</th>
											<th data-field="isCommentable">IsCommentable</th>										
											<th data-field="location">Location</th>
											<th data-field="category">Category</th>
											<th data-field="counts">Counts</th>
											<th>Ops</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in Model)
										{
											<tr>
												<td></td>
												<td>@item.Id</td>
												<td>
													<img src="~/img/company/logo/@item.Logo" style="max-height:100px;max-width:90px;min-height:100px;min-width:90px;" class="img-responsive" asp-append-version="true" />
												</td>
												<td>
													@if (item.UserId != null)
													{
														<ul>
															<li>UserId: @item.UserId</li>
															<li>Name Surname: @item.User.NameSurname</li>
															<li>Email: @item.User.Email</li>
														</ul>
														<a asp-controller="CompanyManagement" asp-action="CompanyUser" asp-route-id="@item.UserId" class="btn btn-custon-rounded-two btn-info">
															See All User Companies
														</a>
														<a asp-controller="CompanyManagement" asp-action="CompanyUserForAdmin" asp-route-id="@item.UserId" class="btn btn-custon-rounded-two btn-info">
															See All User Companies For Admin
														</a>
													}
													else
													{
														<strong style="color:darkred">No User Info</strong>
													}
												</td>
												<td>@item.Name</td>
												<td>@item.FoundationDate.ToShortDateString()</td>
												<td>
													@if (item.IsCommentable == true)
													{
														<strong style="color:darkblue">Commentable Company</strong>
													}
													else
													{
														<strong style="color:maroon">Not Commentable Company</strong>
													}
												</td>
												<td>
													@if (item.CityId != null)
													{
														<span>
															@item.City.Name, @item.Country.Name
														</span>
														<a asp-controller="CompanyManagement" asp-action="City" asp-route-id="@item.CityId" class="btn btn-custon-rounded-two btn-info">
															See All City Companies
														</a>
														<a asp-controller="CompanyManagement" asp-action="Country" asp-route-id="@item.CountryId" class="btn btn-custon-rounded-two btn-info">
															See All Country Companies
														</a>
													}
													else
													{
														<span>
															@item.Country.Name
														</span>
														<a asp-controller="CompanyManagement" asp-action="Country" asp-route-id="@item.CountryId" class="btn btn-custon-rounded-two btn-info">
															See All Country Companies
														</a>
													}
												</td>
												<td>
													@if (item.CompanySubcategoryId != null)
													{
														<span>
															Category: @item.CompanyCategory.Name, Subcategory: @item.CompanySubcategory.Name
														</span>
														<a asp-controller="CompanyManagement" asp-action="Category" asp-route-id="@item.CompanyCategoryId" class="btn btn-custon-rounded-two btn-info">
															See All Category Companies
														</a>
														<a asp-controller="CompanyManagement" asp-action="Subcategory" asp-route-id="@item.CompanySubcategoryId" class="btn btn-custon-rounded-two btn-info">
															See All Subcategory Companies
														</a>
													}
													else
													{
														<span>
															Category: @item.CompanyCategory.Name
														</span>
														<a asp-controller="CompanyManagement" asp-action="Category" asp-route-id="@item.CompanyCategoryId" class="btn btn-custon-rounded-two btn-info">
															See All Category Companies
														</a>
													}
												</td>
												<td>
													<ul>
														<li>Appointment: @item.Appointments.Count()</li>
														<li>Blogs: @item.Blogs.Count()</li>
														<li>Hits: @item.Hits.Count()</li>
														<li>Likes: @item.Likes.Count()</li>
														<li>Products: @item.Products.Count()</li>
														<li>Reports: @item.Reports.Count()</li>
														<li>Questions: @item.Questions.Count()</li>
													</ul>
												</td>
												<td>
													<a asp-controller="CompanyManagement" asp-action="SendMessage" asp-route-id="@item.Id" class="btn btn-custon-rounded-two btn-primary btn-sm">Send Message</a>
													<a asp-controller="CompanyManagement" asp-action="CompanyDetail" asp-route-id="@item.Id" class="btn btn-custon-rounded-two btn-info btn-sm">Detail</a>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>