@model CommentAnswer
@{
	ViewData["Title"] = "Delete Answer Detail";
	ViewData["Subtitle"] = "Comment Answer Navigator";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="breadcome-area mg-b-30 small-dn">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcome-list map-mg-t-40-gl shadow-reset">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="breadcome-heading">
									@ViewData["Subtitle"]
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<ul class="breadcome-menu">
									<li>
										<a asp-controller="CommentAnswer" asp-action="kurtulusocL">Comment Answer Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Comment" asp-action="kurtulusocL">Comment Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="CommentAnswer" asp-action="CommentAnswerOps">Comment Answer Ops</a> <span class="bread-slash">/</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="widgets-personal-info-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="author-widgets-single widget-ov-mg-t-30 widget-ov-mg-t-n-30 widget-ov-mg-t-l-30 shadow-reset">
						<div class="persoanl-widget-hd persoanl1-widget-hd">
							@if (Model.Title != null)
							{
								<h2>
									Answer Title: @Model.Title
								</h2>
							}
							else
							{
								<strong style="color:darkred">No Title</strong>
							}
							<h2>
								Answer: @Model.Text
							</h2>
							<p>
								@if (Model.CommentId != null)
								{
									if (Model.Comment.BlogId != null)
									{
										<strong style="color:darkblue">Answer for Blog Comment</strong>
										<ul>
											<li>BlogId: @Model.Comment.BlogId</li>
										</ul>
									}
									@if (Model.Comment.CompanyId != null)
									{
										<strong style="color:darkblue">Answer for Company Comment</strong>
										<ul>
											<li>CompanyId: @Model.Comment.CompanyId</li>
										</ul>
									}
									if (Model.Comment.ProductId != null)
									{
										<strong style="color:darkblue">Answer for Product Comment</strong>
										<ul>
											<li>ProductId: @Model.Comment.ProductId</li>
										</ul>
									}
								}
								else
								{
									<strong style="color:darkred">No Comment</strong>
								}
							</p>
							@if (Model.UserId != null)
							{
								<p>
									<ul>
										<li>UserId: @Model.UserId</li>
										<li>User: @Model.User.NameSurname</li>
										<li>Email: @Model.User.Email</li>
										<li>Location: @Model.User.City, @Model.User.Country</li>
									</ul>
								</p>
							}
							else
							{
								<p>No User Info</p>
							}
							<div class="social-widget-result social-widget1-result">
								<ul>
									<li>
										<span>
											Reports: @Model.Reports.Count()
										</span>
									</li>
								</ul>
							</div>
							<div class="social-widget-result social-widget1-result">
								<span>Created At: @Model.CreatedDate.ToShortDateString()</span>
							</div>
							<div class="widget-text-box">
								<h4></h4>
								@if (Model.UpdatedDate != null)
								{
									<p>Updated At: @Model.UpdatedDate.Value.ToShortDateString()</p>
								}
								@if (Model.IsActive == true)
								{
									<p>Active</p>
								}
								else
								{
									<p>DeActive</p>
								}
								@if (Model.IsDeleted == true)
								{
									<p>Deleted</p>
								}
								else
								{
									<p>Not Deleted</p>
								}
								<div class="text-right like-love-list">
									<a href="#" onclick="confirmDelete('CommentAnswer', 'DeleteCommentAnswer', @Model.Id); return false;" class="btn btn-custon-rounded-three btn-danger btn-sm"> Delete </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>