@model Product
@{
	ViewData["Title"] = "Product Detail";
	ViewData["Subtitle"] = "Product Navigator";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="breadcome-area mg-b-30 small-dn">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcome-list map-mg-t-40-gl shadow-reset">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="breadcome-heading">
									@ViewData["Subtitle"]
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<ul class="breadcome-menu">
									<li>
										<a asp-controller="ProductManagement" asp-action="kurtulusocL">Product Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="ProductManagement" asp-action="AvailableProduct">Availables</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="ProductManagement" asp-action="NotAvailableProduct">Not Availables</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="ProductManagement" asp-action="CommentableProduct">Commentables</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="ProductManagement" asp-action="NotCommentableProduct">Not Commentables</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="ProductManagement" asp-action="QuestionableProduct">Questionables</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="ProductManagement" asp-action="NotQuestionableProduct">Not Questionables</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="ProductManagement" asp-action="ProductOps">Product Ops</a> <span class="bread-slash">/</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="project-details-area mg-b-40">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="project-details-wrap shadow-reset">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>Active Status:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="btn-group project-list-ad">
												@if (Model.IsActive == true)
												{
													<button class="btn btn-white btn-xs">Active</button>
												}
												else
												{
													<button class="btn btn-white btn-xs">DeActive</button>
												}
											</div>
										</div>
									</div>
								</div>
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>Deleted Status:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="btn-group project-list-ad">
												@if (Model.IsDeleted == true)
												{
													<button class="btn btn-white btn-xs">Deleted</button>
												}
												else
												{
													<button class="btn btn-white btn-xs">Not Deleted</button>
												}
											</div>
										</div>
									</div>
								</div>
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>Created Date:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="project-details-dt">
												<span>@Model.CreatedDate.ToLongDateString()</span>
											</div>
										</div>
									</div>
								</div>
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>Updated Date:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="project-details-dt">
												@if (Model.UpdatedDate != null)
												{
													<span>@Model.UpdatedDate.Value.ToLongDateString()</span>
												}
												else
												{
													<span>---</span>
												}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>ID No:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="project-details-dt">
												<span>@Model.Id</span>
											</div>
										</div>
									</div>
								</div>
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>CategoryId No:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="project-details-dt">
												<span>@Model.ProductCategoryId</span>
											</div>
										</div>
									</div>
								</div>
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>SubcategoryId No:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="project-details-dt">
												@if (Model.ProductSubcategoryId != null)
												{
													<span>@Model.ProductSubcategoryId</span>
												}
												else
												{
													<span class="badge badge-warning">No Subcategory</span>
												}
											</div>
										</div>
									</div>
								</div>
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>User ID No:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="project-details-dt">
												@if (Model.UserId != null)
												{
													<span>@Model.UserId</span>
												}
												else
												{
													<span class="badge badge-warning">No UserId</span>
												}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="project-details-tab">
									<ul class="nav nav-tabs res-pd-less-sm">
										<li class="active">
											<a data-toggle="tab" href="#menu1">@ViewData["Title"]</a>
										</li>
									</ul>
									<div class="tab-content res-tab-content-project">
										<div id="menu1" class="tab-pane fade in active animated zoomInLeft">
											<div class="project-details-completeness">
												<dl class="table table-striped">
													<dt class="col-sm-4">
														Product Name
													</dt>
													<dd class="col-sm-8">
														@Model.Name
													</dd>
													<dt class="col-sm-4">
														Product Descrition
													</dt>
													<dd class="col-sm-8">
														@Html.Raw(Model.Desc)
													</dd>
													<dt class="col-sm-4">
														Other Text
													</dt>
													<dd class="col-sm-8">
														@if (Model.OtherText != null)
														{
															@Model.OtherText
														}
														else
														{
															<strong style="color:darkred">No Other Text</strong>
														}
													</dd>
													<dt class="col-sm-4">
														Product Price
													</dt>
													<dd class="col-sm-8">
														@if (Model.Price != null)
														{
															@Model.Price.Value.ToString("C2")
														}
														else
														{
															<strong style="color:darkred">No Price Information</strong>
														}
													</dd>
													<dt class="col-sm-4">
														Is Commentable
													</dt>
													<dd class="col-sm-8">
														@if (Model.IsCommentable == true)
														{
															<strong style="color:darkblue">Commentable Product</strong>
														}
														else
														{
															<strong style="color:darkred">Not Commentable Product</strong>
														}
													</dd>
													<dt class="col-sm-4">
														Is Questionable
													</dt>
													<dd class="col-sm-8">
														@if (Model.IsQuestionable == true)
														{
															<strong style="color:darkblue">Questionable Product</strong>
														}
														else
														{
															<strong style="color:darkred">Not Questionable Product</strong>
														}
													</dd>
													<dt class="col-sm-4">
														Is Available
													</dt>
													<dd class="col-sm-8">
														@if (Model.IsAvailable == true)
														{
															<strong style="color:darkblue">Available Product</strong>
														}
														else
														{
															if (Model.AvailableDate != null)
															{
																<strong style="color:darkred">Not Available Product</strong> <span>It Gonna Be Available</span> <span class="badge badge-info">
																	@Model.AvailableDate.Value.ToShortDateString()
																</span>
															}
															else
															{
																<strong style="color:darkred">Not Available Product</strong>
															}
														}
													</dd>
													<dt class="col-sm-4">
														Product Category - Subcategory
													</dt>
													<dd class="col-sm-8">
														@if (Model.ProductSubcategoryId != null)
														{
															<span>
																Category: @Model.ProductCategory.Name - Subcategory: @Model.ProductSubcategory.Name
															</span>
														}
														else
														{
															<span>
																Category: @Model.ProductCategory.Name - <strong style="color:maroon">No Subcategory</strong>
															</span>
														}
													</dd>
													<dt class="col-sm-4">
														Company Info
													</dt>
													<dd class="col-sm-8">
														@if (Model.CompanyId != null)
														{
															<ul>
																<li>Company Id: @Model.CompanyId</li>
																<li>Company: @Model.Company.Name</li>
															</ul>
														}
														else
														{
															<strong style="color:darkred">No Company Information</strong>
														}
													</dd>
													<dt class="col-sm-4">
														User Info
													</dt>
													<dd class="col-sm-8">
														@if (Model.UserId != null)
														{
															<ul>
																<li>Name Surname: @Model.User.NameSurname</li>
																<li>Username: @Model.User.UserName</li>
																<li>Email: @Model.User.Email</li>
																<li>Location: @Model.User.City, @Model.User.Country</li>
															</ul>
														}
														else
														{
															<strong style="color:darkred">No User Information</strong>
														}
													</dd>
													<dt class="col-sm-4">
														User Status
													</dt>
													<dd class="col-sm-8">
														@if (Model.UserId != null)
														{
															<ul>
																@if (Model.User.IsActive == true)
																{
																	<li>Active User</li>
																}
																else
																{
																	<li>De Active User</li>
																}
																@if (Model.User.IsDeleted == true)
																{
																	<li>Deleted User</li>
																}
																else
																{
																	<li>Not Deleted User</li>
																}
															</ul>
														}
														else
														{
															<strong style="color:darkred">No User Information</strong>
														}
													</dd>
													<dt class="col-sm-4">
														Counts
													</dt>
													<dd class="col-sm-8">
														<ul>
															<li>Comments: @Model.Comments.Count()</li>
															<li>Hits: @Model.Hits.Count()</li>
															<li>Likes: @Model.Likes.Count()</li>
															<li>Pictures: @Model.Pictures.Count()</li>
															<li>Questions: @Model.Questions.Count()</li>
															<li>Reports: @Model.Reports.Count()</li>
															<li>Saved: @Model.SaveContents.Count()</li>
														</ul>
													</dd>
												</dl>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>