@model Report
@{
	ViewData["Title"] = "Delete Report";
	ViewData["Subtitle"] = "Report Navigator";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="breadcome-area mg-b-30 small-dn">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcome-list map-mg-t-40-gl shadow-reset">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="breadcome-heading">
									@ViewData["Subtitle"]
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<ul class="breadcome-menu">
									<li>
										<a asp-controller="Report" asp-action="kurtulusocL">Report Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Report" asp-action="AnsweredReport">Answered Reports</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Report" asp-action="NotAnsweredReport">Not Answered Reports</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Report" asp-action="FixedReport">Fixed Reports</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Report" asp-action="NotFixedReport">Not Fixed Reports</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Report" asp-action="ReportOps">Report Answer Ops</a> <span class="bread-slash">/</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="widgets-personal-info-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="author-widgets-single widget-ov-mg-t-30 widget-ov-mg-t-n-30 widget-ov-mg-t-l-30 shadow-reset">
						<div class="widget-text-box">
							<div class="social-widget-result social-widget1-result">
								<span>
									Title: @Model.Title
								</span>
							</div>
							<div class="social-widget-result social-widget1-result">
								<span>Report: </span>
								<h4>@Model.Desc</h4>
							</div>
							<div class="social-widget-result social-widget1-result">
								<span>Category: @Model.ReportCategory.Name</span>
								<span>@Model.ReportAnswers.Count() answers</span>
								@if (Model.Hit != null)
								{
									<span><i class="fa fa-eye"></i> @Model.Hit.Value.ToString()</span>
								}
								else
								{
									<span><i class="fa fa-eye"></i> 0</span>
								}
								<span>Created At: @Model.CreatedDate.ToShortDateString()</span>
							</div>
							<div class="social-widget-result social-widget1-result">
								<h4>Report For</h4>
								@if (Model.BlogId != null || Model.CommentId != null || Model.CommentAnswerId != null || Model.CompanyId != null || Model.ProductId != null || Model.CompanyFormId != null || Model.CompanyFormAnswerId != null)
								{
									if (Model.BlogId != null)
									{
										<ul>
											<li>Blog Report</li>
											<li>BlogId: @Model.BlogId</li>
										</ul>
									}
									if (Model.CommentId != null)
									{
										<ul>
											<li>Comment Report</li>
											<li>CommentId: @Model.CommentId</li>
										</ul>
									}
									if (Model.CommentAnswerId != null)
									{
										<ul>
											<li>Comment Answer Report</li>
											<li>Comment AnswerId: @Model.CommentAnswerId</li>
										</ul>
									}
									if (Model.CompanyId != null)
									{
										<ul>
											<li>Company Report</li>
											<li>CompanyId: @Model.CompanyId</li>
										</ul>
									}
									if (Model.ProductId != null)
									{
										<ul>
											<li>Product Report</li>
											<li>ProductId: @Model.ProductId</li>
										</ul>
									}
									@if (Model.CompanyPartnershipId != null)
									{
										<ul>
											<li>Company Partnership Report</li>
											<li>CompanyId: @Model.CompanyPartnershipId</li>
											@if (Model.CompanyPartnership.CompanyId != null)
											{
												<li>CompanyId: @Model.CompanyPartnership.CompanyId</li>
												<li>Company: @Model.CompanyPartnership.Company.Name</li>
											}
											else
											{
												<li>
													<strong style="color:maroon">No Company Info</strong>
												</li>
											}
										</ul>
									}
									if (Model.CompanyFormId != null)
									{
										<ul>
											<li>Company Form Report</li>
											<li>Company FormId: @Model.CompanyFormId</li>
											@if (Model.CompanyForm.CompanyId != null)
											{
												<li>CompanyId: @Model.CompanyForm.CompanyId</li>
												<li>Company: @Model.CompanyForm.Company.Name</li>
											}
											else
											{
												<li>
													<strong style="color:maroon">No Company Info</strong>
												</li>
											}
										</ul>
									}
									if (Model.CompanyFormAnswerId != null)
									{
										<ul>
											<li>Company Form Answer Report</li>
											<li>Company Form AnswerId: @Model.CompanyFormAnswerId</li>
											@if (Model.CompanyFormAnswer.CompanyFormId != null)
											{
												<li>Company FormId: @Model.CompanyFormId</li>
											}
											else
											{
												<li>
													<strong style="color:maroon">No Company Form Info</strong>
												</li>
											}
										</ul>
									}
								}
								else
								{
									<strong style="color:darkred">Not Information</strong>
								}
							</div>
							<div class="social-widget-result social-widget1-result">
								@if (Model.IsFixed == true)
								{
									<strong style="color:darkblue">Fixed Report</strong>
									if (Model.FixedDate != null)
									{
										<span>Fixed at</span>
										<span class="badge badge-info">@Model.FixedDate.Value.ToShortDateString()</span>
									}
								}
								else
								{
									<strong style="color:darkred">Not Fixed Report</strong>
								}
							</div>
							<div class="social-widget-result social-widget1-result">
								<h4>User Information</h4>
								@if (Model.UserId != null)
								{
									<ul>
										<li>UserId: @Model.UserId</li>
										<li>Name Surname: @Model.User.NameSurname</li>
										<li>Email: @Model.User.NameSurname</li>
										<li>Location: @Model.User.City, @Model.User.Country</li>
									</ul>
								}
								else
								{
									<strong style="color:darkred">No User Admin Info</strong>
								}
							</div>
							@if (Model.UpdatedDate != null)
							{
								<p>Updated At: @Model.UpdatedDate.Value.ToShortDateString()</p>
							}
							@if (Model.IsActive == true)
							{
								<p>Active</p>
							}
							else
							{
								<p>DeActive</p>
							}
							@if (Model.IsDeleted == true)
							{
								<p>Deleted</p>
							}
							else
							{
								<p>Not Deleted</p>
							}
							<div class="text-right like-love-list">
								<a href="#" onclick="confirmDelete('Report', 'DeleteReport', @Model.Id); return false;" class="btn btn-custon-rounded-three btn-danger btn-sm"> Delete </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>