@model Hit
@{
	ViewData["Title"] = "Hit Detail";
	ViewData["Subtitle"] = "Hit Navigator";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="breadcome-area mg-b-30 small-dn">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcome-list map-mg-t-40-gl shadow-reset">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="breadcome-heading">
									@ViewData["Subtitle"]
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<ul class="breadcome-menu">
									<li>
										<a asp-controller="Hit" asp-action="kurtulusocL">Hit Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Hit" asp-action="HitByValue">Hit Value List</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Hit" asp-action="HitOps">Hit Ops</a> <span class="bread-slash">/</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="project-details-area mg-b-40">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="project-details-wrap shadow-reset">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>Active Status:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="btn-group project-list-ad">
												@if (Model.IsActive == true)
												{
													<button class="btn btn-white btn-xs">Active</button>
												}
												else
												{
													<button class="btn btn-white btn-xs">DeActive</button>
												}
											</div>
										</div>
									</div>
								</div>
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>Deleted Status:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="btn-group project-list-ad">
												@if (Model.IsDeleted == true)
												{
													<button class="btn btn-white btn-xs">Deleted</button>
												}
												else
												{
													<button class="btn btn-white btn-xs">Not Deleted</button>
												}
											</div>
										</div>
									</div>
								</div>
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>Created Date:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="project-details-dt">
												<span>@Model.CreatedDate.ToLongDateString()</span>
											</div>
										</div>
									</div>
								</div>
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>Updated Date:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="project-details-dt">
												@if (Model.UpdatedDate != null)
												{
													<span>@Model.UpdatedDate.Value.ToLongDateString()</span>
												}
												else
												{
													<span>---</span>
												}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="project-details-mg">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="project-details-st">
												<span><strong>ID No:</strong></span>
											</div>
										</div>
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
											<div class="project-details-dt">
												<span>@Model.Id</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="project-details-tab">
									<ul class="nav nav-tabs res-pd-less-sm">
										<li class="active">
											<a data-toggle="tab" href="#menu1">@ViewData["Title"]</a>
										</li>
									</ul>
									<div class="tab-content res-tab-content-project">
										<div id="menu1" class="tab-pane fade in active animated zoomInLeft">
											<div class="project-details-completeness">
												<dl class="table table-striped">
													<dt class="col-sm-4">
														Hit Value
													</dt>
													<dd class="col-sm-8">
														@if (Model.Value != null)
														{
															@Model.Value.Value.ToString()
														}
														else
														{
															<strong style="color:darkblue">0</strong>
														}
													</dd>
													<dt class="col-sm-4">
														User Information
													</dt>
													<dd class="col-sm-8">
														@if (Model.UserId != null)
														{
															<ul>
																<li>Name Surname: @Model.User.NameSurname</li>
																<li>Username: @Model.User.UserName</li>
																<li>Email: @Model.User.Email</li>
																<li>Location: @Model.User.City, @Model.User.Country</li>
															</ul>
														}
														else
														{
															<strong style="color:darkred">No User Information</strong>
														}
													</dd>
													<dt class="col-sm-4">
														User Status
													</dt>
													<dd class="col-sm-8">
														@if (Model.UserId != null)
														{
															<ul>
																@if (Model.User.IsActive == true)
																{
																	<li>Active User</li>
																}
																else
																{
																	<li>De Active User</li>
																}
																@if (Model.User.IsDeleted == true)
																{
																	<li>Deleted User</li>
																}
																else
																{
																	<li>Not Deleted User</li>
																}
															</ul>
														}
														else
														{
															<strong style="color:darkred">No User Information</strong>
														}
													</dd>
													<dt class="col-sm-4">
														Hit For
													</dt>
													<dd class="col-sm-8">
														@if (Model.AdId != null || Model.BlogId != null || Model.CompanyId != null || Model.ProductId != null || Model.CompanyPartnershipId != null || Model.CompanyFormId != null || Model.SectorNewsId != null)
														{
															if (Model.AdId != null)
															{
																<ul>
																	<li>Ad Hit</li>
																	<li>Ad Id: @Model.AdId</li>
																	<li>Text: @Model.Ad.Text</li>
																</ul>
															}
															if (Model.BlogId != null)
															{
																<ul>
																	<li>Blog Hit</li>
																	<li>Blog Id :@Model.BlogId</li>
																	<li>Title: @Model.Blog.Title</li>
																</ul>
															}
															if (Model.CompanyId != null)
															{
																<ul>
																	<li>Company Hit</li>
																	<li>CompanyId: @Model.CompanyId</li>
																	<li>Name: @Model.Company.Name</li>
																</ul>
															}
															if (Model.ProductId != null)
															{
																<ul>
																	<li>Product Hit</li>
																	<li>ProductId: @Model.ProductId</li>
																	<li>Name: @Model.Product.Name</li>
																</ul>
															}
															@if (Model.CompanyPartnershipId != null)
															{
																<ul>
																	<li>Company Partnership Hit</li>
																	<li>Company PartnershipId: @Model.CompanyPartnershipId</li>
																	@if (Model.CompanyPartnership.CompanyId != null)
																	{
																		<li>CompanyId: @Model.CompanyPartnership.CompanyId</li>
																		<li>Company: @Model.CompanyPartnership.Company.Name</li>
																	}
																	else
																	{
																		<li>
																			<strong style="color:maroon">No Company Info</strong>
																		</li>
																	}
																</ul>
															}
															if (Model.CompanyFormId != null)
															{
																<ul>
																	<li>Company Form Hit</li>
																	<li>Company FormId: @Model.CompanyFormId</li>
																	<li>Title: @Model.CompanyForm.Title</li>
																	@if (Model.CompanyForm.CompanyId != null)
																	{
																		<li>CompanyId: @Model.CompanyForm.CompanyId</li>
																		<li>Company: @Model.CompanyForm.Company.Name</li>
																	}
																	else
																	{
																		<li>
																			<strong style="color:maroon">No Company Info</strong>
																		</li>
																	}
																</ul>
															}
															if (Model.SectorNewsId != null)
															{
																<ul>
																	<li>Sector News Hit</li>
																	<li>Sector NewsId: @Model.SectorNewsId</li>
																	<li>Title: @Model.SectorNews.Title</li>
																</ul>
															}
														}
														else
														{
															<strong style="color:darkred">Error - Issue</strong>
														}
													</dd>
												</dl>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>