@model IEnumerable<Hit>
@{
	ViewData["Title"] = "Active Hit List";
	ViewData["Subtitle"] = "Hit Navigator";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="breadcome-area mg-b-30 small-dn">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcome-list map-mg-t-40-gl shadow-reset">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="breadcome-heading">
									@ViewData["Subtitle"]
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<ul class="breadcome-menu">
									<li>
										<a asp-controller="Hit" asp-action="kurtulusocL">Hit Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Hit" asp-action="HitByValue">Hit Value List</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="Hit" asp-action="HitOps">Hit Ops</a> <span class="bread-slash">/</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="data-table-area mg-b-40">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="sparkline13-list shadow-reset">
						<div class="sparkline13-hd">
							<div class="main-sparkline13-hd">
								<h1>@ViewData["Title"] </h1>
								<div class="sparkline13-outline-icon">
									<span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
								</div>
							</div>
						</div>
						<div class="sparkline13-graph">
							<div class="datatable-dashv1-list custom-datatable-overright">
								<div id="toolbar">
									<select class="form-control">
										<option value="">Export Basic</option>
										<option value="all">Export All</option>
										<option value="selected">Export Selected</option>
									</select>
								</div>
								<table id="table"
									   data-toggle="table"
									   data-pagination="true"
									   data-resizable="true"
									   data-search="true"
									   data-show-columns="true"
									   data-show-pagination-switch="true"
									   data-show-refresh="true"
									   data-key-events="true"
									   data-show-toggle="true"
									   data-cookie="true"
									   data-cookie-id-table="saveId"
									   data-show-export="true"
									   data-click-to-select="true"
									   data-toolbar="#toolbar">
									<thead>
										<tr>
											<th data-field="state" data-checkbox="true"></th>
											<th data-field="id">ID</th>
											<th data-field="userInfo">User Info</th>
											<th data-field="hitFor">Hit For</th>
											<th data-field="hitValue">Hit Value</th>
											<th>Ops</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in Model)
										{
											<tr>
												<td></td>
												<td>@item.Id</td>
												<td>
													@if (item.UserId != null)
													{
														<ul>
															<li>User Id: @item.UserId</li>
															<li>Name Surname: @item.User.NameSurname</li>
															<li>Email: @item.User.Email</li>
														</ul>
														<a asp-controller="Hit" asp-action="HitByUser" asp-route-id="@item.UserId" class="btn btn-custon-rounded-two btn-info">
															See All Hits
														</a>
														<a asp-controller="Hit" asp-action="HitByUserForAdmin" asp-route-id="@item.UserId" class="btn btn-custon-rounded-two btn-info">
															See All Hits for Admin
														</a>
													}
													else
													{
														<strong style="color:darkred">Not User Info</strong>
													}
												</td>
												<td>
													@if (item.AdId != null || item.BlogId != null || item.CompanyId != null || item.ProductId != null || item.CompanyPartnershipId != null || item.CompanyFormId != null || item.SectorNewsId != null)
													{
														@if (item.AdId != null)
														{
															<ul>
																<li>Ad Hit</li>
																<li>Ad Id: @item.AdId</li>
																<li>Text: @item.Ad.Text</li>
															</ul>
															<a asp-controller="Hit" asp-action="HitByAd" asp-route-id="@item.AdId" class="btn btn-custon-rounded-two btn-info">
																See All Ad Hits
															</a>
														}
														@if (item.BlogId != null)
														{
															<ul>
																<li>Blog Hit</li>
																<li>Blog Id :@item.BlogId</li>
																<li>Title: @item.Blog.Title</li>
															</ul>
															<a asp-controller="Hit" asp-action="HitByBlog" asp-route-id="@item.BlogId" class="btn btn-custon-rounded-two btn-info">
																See All Blog Hits
															</a>
														}
														if (item.CompanyId != null)
														{
															<ul>
																<li>Company Hit</li>
																<li>CompanyId: @item.CompanyId</li>
																<li>Name: @item.Company.Name</li>
															</ul>
															<a asp-controller="Hit" asp-action="HitByCompany" asp-route-id="@item.CompanyId" class="btn btn-custon-rounded-two btn-info">
																See All Company Hits
															</a>
														}
														if (item.ProductId != null)
														{
															<ul>
																<li>Product Hit</li>
																<li>ProductId: @item.ProductId</li>
																<li>Name: @item.Product.Name</li>
															</ul>
															<a asp-controller="Hit" asp-action="HitByProduct" asp-route-id="@item.ProductId" class="btn btn-custon-rounded-two btn-info">
																See All Product Hits
															</a>
														}
														@if (item.CompanyPartnershipId != null)
														{
															<ul>
																<li>Company Partnership Hit</li>
																<li>Company PartnershipId: @item.CompanyPartnershipId</li>
																@if (item.CompanyPartnership.CompanyId != null)
																{
																	<li>CompanyId: @item.CompanyPartnership.CompanyId</li>
																	<li>Company: @item.CompanyPartnership.Company.Name</li>
																}
																else
																{
																	<li>
																		<strong style="color:maroon">No Company Info</strong>
																	</li>
																}
															</ul>
															<a asp-controller="Hit" asp-action="HitByPartnership" asp-route-id="@item.CompanyPartnershipId" class="btn btn-custon-rounded-two btn-info">
																See All Partnership Hits
															</a>
														}
														if (item.CompanyFormId != null)
														{
															<ul>
																<li>Company Form Hit</li>
																<li>Company FormId: @item.CompanyFormId</li>
																<li>Title: @item.CompanyForm.Title</li>
																@if (item.CompanyForm.CompanyId != null)
																{
																	<li>CompanyId: @item.CompanyForm.CompanyId</li>
																	<li>Company: @item.CompanyForm.Company.Name</li>
																}
																else
																{
																	<li>
																		<strong style="color:maroon">No Company Info</strong>
																	</li>
																}
																<a asp-controller="Hit" asp-action="HitByCompanyForm" asp-route-id="@item.CompanyFormId" class="btn btn-custon-rounded-two btn-info">
																	See All Company Form Hits
																</a>
															</ul>
														}
														if (item.SectorNewsId != null)
														{
															<ul>
																<li>Sector News Hit</li>
																<li>Sector NewsId: @item.SectorNewsId</li>
																<li>Title: @item.SectorNews.Title</li>
															</ul>
															<a asp-controller="Hit" asp-action="HitBySectorNews" asp-route-id="@item.SectorNewsId" class="btn btn-custon-rounded-two btn-info">
																See All SectorNews Hits
															</a>
														}
													}
													else
													{
														<strong style="color:darkred">Error - Issue</strong>
													}
												</td>
												<td>
													@if (item.Value != null)
													{
														@item.Value.Value.ToString()
													}
													else
													{
														<strong style="color:darkblue">0</strong>
													}
												</td>
												<td>
													<a asp-controller="Hit" asp-action="HitDetail" asp-route-id="@item.Id" class="btn btn-custon-rounded-two btn-info btn-sm">Detail</a>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>