@model QuestionAnswer
@{
	ViewData["Title"] = "Delete Question Answer";
	ViewData["Subtitle"] = "Question Answer Navigator";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="wrapper-pro">
	<div class="breadcome-area mg-b-30 small-dn">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcome-list map-mg-t-40-gl shadow-reset">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<div class="breadcome-heading">
									@ViewData["Subtitle"]
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
								<ul class="breadcome-menu">
									<li>
										<a asp-controller="QuestionAnswer" asp-action="kurtulusocL">Question Answer Home</a> <span class="bread-slash">/</span>
									</li>
									<li>
										<a asp-controller="QuestionAnswer" asp-action="QuestionAnswerOps">Question Answer Ops</a> <span class="bread-slash">/</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="widgets-personal-info-area">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="author-widgets-single widget-ov-mg-t-30 widget-ov-mg-t-n-30 widget-ov-mg-t-l-30 shadow-reset">
						<div class="widget-text-box">
							<div class="social-widget-result social-widget1-result">
								@if (Model.Title != null)
								{
									<span>
										Question Answer Title: @Model.Title
									</span>
								}
								else
								{
									<strong style="color:darkred">No Question Answer Title</strong>
								}
							</div>
							<div class="social-widget-result social-widget1-result">								
								<span>Created At: @Model.CreatedDate.ToShortDateString()</span>
							</div>
							<div class="social-widget-result social-widget1-result">
								<h4>Question Answer Information</h4>
								@if (Model.QuestionId != null)
								{
									<ul>
										<li>QuestionId: @Model.QuestionId</li>
										@if (Model.Question.CompanyId != null)
										{
											<li>Company Question</li>
											<li>Question CompanyId: @Model.Question.CompanyId</li>
											<li>Question Company Name: @Model.Question.Company.Name</li>
											<li></li>
										}
										else
										{
											<li>
												<strong style="color:darkred">No Question Company Info</strong>
											</li>
										}
										@if (Model.Question.ProductId != null)
										{
											<li>Product Question</li>
											<li>Question ProductId: @Model.Question.ProductId</li>
											<li>Question Product Name: @Model.Question.Product.Name</li>
											<li></li>
										}
										else
										{
											<li>
												<strong style="color:darkred">No Question Company Info</strong>
											</li>
										}
										@if (Model.Question.Text.Length > 100)
										{
											<li>
												Question:
												@Model.Question.Text
											</li>
										}
										else
										{
											<li>
												<span>Question: @Model.Question.Text</span>
											</li>
										}
									</ul>
								}
								else
								{
									<strong style="color:darkred"> No Question Info </strong>
								}
							</div>
							<div class="social-widget-result social-widget1-result">
								<h4>Question Answer Text</h4>
								<p>
									@Model.Answer
								</p>
							</div>
							<div class="social-widget-result social-widget1-result">
								<h4>User Information</h4>
								@if (Model.UserId != null)
								{
									<ul>
										<li>UserId: @Model.UserId</li>
										<li>Name Surname: @Model.User.NameSurname</li>
										<li>Email: @Model.User.NameSurname</li>
										<li>Location: @Model.User.City, @Model.User.Country</li>
									</ul>
								}
								else
								{
									<strong style="color:darkred">No User Admin Info</strong>
								}
							</div>
							@if (Model.UpdatedDate != null)
							{
								<p>Updated At: @Model.UpdatedDate.Value.ToShortDateString()</p>
							}
							@if (Model.IsActive == true)
							{
								<p>Active</p>
							}
							else
							{
								<p>DeActive</p>
							}
							@if (Model.IsDeleted == true)
							{
								<p>Deleted</p>
							}
							else
							{
								<p>Not Deleted</p>
							}
							<div class="text-right like-love-list">
								<a href="#" onclick="confirmDelete('QuestionAnswer', 'DeleteQuestionAnswer', @Model.Id); return false;" class="btn btn-custon-rounded-three btn-danger btn-sm"> Delete </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>